{% extends "layout.njk" %}

{% block head %}
<title>Sobre - Vinicius Castro Moreira</title>
{% endblock head %}

{% block content %}

    <div id="wrapper">
        <img src="{{data.icon_url}}" alt="Logo rocketseat">
        <h1>{{data.title}}</h1>
        <h2>{{data.about}}</h2>
        <p>{{data.description}}</p>
    </div>

    <div id="links-footer" class="links">
    {% for links in data.link %}
        <a href="{{links.url}}" target="_blank">{{links.name}}</a>
    {% endfor %}
    </div>

{% endblock %}