{% extends "layout.njk" %}

{% block head %}
<title>Sobre - Vinicius Castro Moreira</title>
{% endblock head %}

{% block content %}

    <div id="wrapper">
        <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="Logo rocketseat">
        <h1>RocketSeat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <p>Linguagens como, Javascript, NodeJS, React Native, React JS</p>
    </div>

    <div id="links-footer" class="links">
        <a href="/">GitHub</a>
        <a href="https://discordapp.com/invite/gCRAFhc">Instagram</a>
        <a href="mailto:oi@rocketseat.com.br">Facebook</a>
        <a href="tel:+5547992078767">Telefone</a>
    </div>

{% endblock %}