{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<title>Conteudos - Vinicius Castro Moreira</title>

{% endblock head %}

{% block content %}

    {% if infoSubCourses %}
    <div class="course">
        <div class="course-title">
            <h1>{{infoSubCourses.title}}</h1>
        </div>

        <div class="course-img">
            <img src="https://rocketseat.com.br/static/images/update/{{infoSubCourses.img}}" alt="Imagem de {{infoSubCourses.title}}">
        </div>
        <div class="course-container">
            <p>{{infoSubCourses.description}}</p>
        </div>
        
        <div class="course-link">
            <a href="https://rocketseat.com.br/{{infoSubCourses.id}}" target="_blank" >Saiba mais</a>
        </div>
        
    </div>
    {% endif %}
<section class="cards">
    {% for courses in infoCourse %}
    
    <div class="card-courses" id="{{courses.id}}">
        <div class="card-img">
            <img src="https://rocketseat.com.br/static/images/update/{{courses.img}}" alt="{{courses.title}}">
        </div>

        <div class="card-content">
            <p>{{courses.title}}</p>
        </div>
    </div>

    {% endfor %}
</section>
<script src="/scripts.js"></script>

{% endblock content %}
